/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/aboutpage/aboutpage.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
/* Base styles for mobile devices */
.aboutpage_aboutPage__fC2yg {
  margin: 90px 10px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-gap: 1rem;
  gap: 1rem;
}

/* Style each component as a grid item */
.aboutpage_about__s9S_N,
.aboutpage_mission__JwIiw,
.aboutpage_philosophy__9ivqt,
.aboutpage_video__TWVQE,
.aboutpage_leagues__SpR0M,
.aboutpage_timetable__lZqsU,
.aboutpage_team__KeiRr,
.aboutpage_support__ZLA_J {
  width: 100%;
  color: #000000;
}

/*Text aligning all elements*/
.aboutpage_about__s9S_N,
.aboutpage_philosophy__9ivqt,
.aboutpage_timetable__lZqsU,
.aboutpage_support__ZLA_J {
  text-align: center;
  background-color: #e1682d;
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.aboutpage_mission__JwIiw,
.aboutpage_leagues__SpR0M,
.aboutpage_team__KeiRr {
  text-align: center;
  background-color: #969595;
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.aboutpage_title__2AEDv {
  font-size: 2rem;
  margin-top: 15px;
}

.aboutpage_text__s_Fjm {
  margin-bottom: 20px;
  padding: 15px;
}

.aboutpage_singleWord__LR5a3 {
  font-weight: bold;
  font-style: italic;
}

.aboutpage_horizontalCarousel__r3SbI,
.aboutpage_verticalCarousel__j7JLY {
  color: black;
}

.aboutpage_video__TWVQE {
  border: none;
}

.aboutpage_teamPhoto__Nkckw,
.aboutpage_video__TWVQE {
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
}

.aboutpage_teamPhoto__Nkckw {
  width: 100%;
  height: auto;
}

.aboutpage_timeTableSubtitle__v63Tx {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #ffffff;
}

.aboutpage_groups__a2Mme {
  font-weight: 800;
}

.aboutpage_lastTime__0u4jH {
  margin-bottom: 25px;
}

.aboutpage_time___dKq_ {
  margin-bottom: 15px;
}

.aboutpage_supportTextContainer__bfDAC {
  margin-bottom: 15px;
  padding: 15px;
}

.aboutpage_supportText2__aC_Gy {
  margin-top: 15px;
}

.aboutpage_supportText1__5Pcyi {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.aboutpage_supportText__m1qqc,
.aboutpage_supportText2__aC_Gy {
  font-weight: bold;
  font-size: 1.2rem;
}

.aboutpage_logos__dU7nI {
  height: 60px;
  width: 60px;
}

.aboutpage_socialMediaContainer__C_vH_ {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .aboutpage_aboutPage__fC2yg {
    margin: 90px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-gap: 20px;
    gap: 20px; /* Gap between grid items */
  }
  /* Layout for specific sections */
  .aboutpage_about__s9S_N {
    grid-column: 1 / 2; /* Start in the first column */
    grid-row: 1 / 3; /* Span two rows */
  }

  .aboutpage_mission__JwIiw {
    grid-column: 1 / 2; /* Start in the first column */
    grid-row: 3 / 5; /* Span two rows below the "about" section */
  }

  .aboutpage_teamPhoto__Nkckw {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
  }

  .aboutpage_philosophy__9ivqt {
    grid-column: 2 / 4; /* Span three columns */
    grid-row: 4 / 5; /* Span one row */
  }

  .aboutpage_leagues__SpR0M {
    grid-column: 1 / 3;
    grid-row: 8 / 9;
  }

  .aboutpage_video__TWVQE {
    grid-column: 2 / 4; /* Span two columns starting from the second column */
    grid-row: 5 / 7; /* Span two rows */
    height: 100%;
  }

  .aboutpage_timetable__lZqsU {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    background-color: #969595;
  }

  .aboutpage_support__ZLA_J {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
  }

  .aboutpage_horizontalCarousel__r3SbI {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }

  .aboutpage_team__KeiRr {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    background-color: #e1682d;
  }

  .aboutpage_verticalCarousel__j7JLY {
    grid-column: 1 / 2;
    grid-row: 7 / 9;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/carouselHorizontal/carouselH.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.carouselH_images__0_yC0 {
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 250px;
  object-fit: cover;
}

.carouselH_rightButton__4HVK_,
.carouselH_leftButton__ybkPW {
  width: 10%;
}

.carouselH_slide_direction__vweA0 {
  position: relative;
}

.carouselH_arrowContainer__fEASK {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carouselH_images__0_yC0 {
    width: 100%;
    height: 600px;
  }
}

/* .carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

/* .slide_direction {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.leftButton,
.rightButton {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.leftButton svg,
.rightButton svg {
  fill: white;
}

.indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
} */

/* .dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}  */

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/carouselVertical/carouselV.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.carouselV_images__QwZ_1 {
  border-radius: 10px;
  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 450px; /* Set a fixed width */
  height: 500px; /* Set a fixed height */
  object-fit: cover; /* Make the image cover the entire area of the container */
}

.carouselV_rightButton__Ac8be,
.carouselV_leftButton__AW_Vs {
  width: 10%;
}

.carouselV_slide_direction__ma840 {
  position: relative;
}

.carouselV_arrowContainer__VufTK {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carouselV_images__QwZ_1 {
    height: 610px;
    width: 100%;
  }
}

/* .carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  /* .slide_direction {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .leftButton,
  .rightButton {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
  }
  
  .leftButton svg,
  .rightButton svg {
    fill: white;
  }
  
  .indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  } */

/* .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgba(255, 255, 255, 1);
  }  */

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_aboutPageContainer__MIzfc {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 120px;
}

